* {
  margin: 0;
  padding: 0;
}
.container {
  display: grid;
  grid-template: 150px 2fr / 1fr 5fr;
}
.header {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}
/* Start side bar styles */
.sideBar {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  font-family: "Anton", sans-serif;
  font-family: "Arvo", serif;
  font-family: "Oswald", sans-serif;
  padding: 5px 15px;
  background-color: #facc15b0;
}
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.8rem;
}
.logo .logoImage {
  width: 40px;
}
.menu ul {
  list-style-type: none;
  padding-left: 10px;
  margin: 40px 0;
  font-size: 1.4rem;
}
.menu li {
  display: flex;
  align-items: center;
  padding: 5px;
  gap: 20px;
}
.menu li:hover {
  color: white;
  border-left: 3px solid black;
}
.menu li:active {
  color: darkred;
}
.upperList li {
  margin-bottom: 15px;
}
.lowerList li {
  margin-bottom: 15px;
}
.menu .icon {
  width: 10%;
}
/* End side bar styles */

/* Start header styles */
.header {
  padding: 5px;
  font-family: "Anton", sans-serif;
  font-family: "Arvo", serif;
  font-family: "Oswald", sans-serif;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.topBlock > .searchBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 15px;
  margin-bottom: 10px;
}
.searchBar .left {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 70%;
}
.searchBar .right {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 1.2rem;
}
.searchBar input {
  width: 100%;
  padding: 5px;
  border-radius: 15px;
  border: 2px solid black;
  background-color: #facc151f;
  padding-left: 1rem;
}
.searchBar .profileImage {
  width: 10%;
}
.searchIcon {
  width: 15px;
}
.bellIcon {
  width: 15px;
}

.bottomBlock > .profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 15%;
}

.profile > .left {
  display: flex;
  gap: 30px;
  align-items: center;
}
.left .userName {
  font-size: 1.6rem;
}
.profile > .right {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 2em;
}
.left > .profileImage {
  width: 10%;
}

.profile > .right > button {
  font-size: 1rem;
  padding: 8px 25px;
  border-radius: 20px;
  border: none;
  background-color: #facc15b0;
  font-weight: bold;
}
.profile > .right > button:hover {
  color: white;
}
.profile > .right > button:active {
  background-color: #facc1577;
  color: darkred;
}

/* End header styles */
/* Start styling main block */
.main {
  padding: 20px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1rem;
  gap: 20px;
  background-color: #facc151f;
}
.main .yourProjects {
  grid-column: 1 / 2;
}
.main > .projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.projects .project {
  max-width: 100%;
  min-width: 100px;
  padding: 10px 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 10px;
  border-left: 10px solid #facc15b0;
}

.project p {
  margin-bottom: 50px;
}

.announcements .announces {
  display: grid;
  gap: 1rem;
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 10px;
  margin-bottom: 2.5rem;
}
.announcements .trendingsH3 {
  margin-bottom: 1rem;
}
.announces .announce {
  border-bottom: 1px solid black;
}
.announce > p {
  padding-bottom: 15px;
}
.trendings {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 10px;
  padding: 30px;
}
.trendings .trendUsers {
  display: flex;
  align-items: center;
  gap: 30px;
}
.trendUsers img {
  width: 2.5rem;
}
/* End styling main block */
