* {
  margin: 0;
  padding: 0;
}
.container {
  height: 100vh;
  display: grid;
  grid-template: 1fr 2fr / 1fr 5fr;
  gap: 20px;
}
.header {
  grid-column: 2 / 3;
}
.sideBar {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  font-family: "Anton", sans-serif;
  font-family: "Arvo", serif;
  font-family: "Oswald", sans-serif;
  padding: 5px 15px;
  background-color: #facc15b0;
}
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo .logoImage {
  width: 40px;
}
.menu ul {
  list-style-type: none;
  padding-left: 10px;
  margin: 40px 0;
  font-size: 14px;
}
.menu li {
  display: flex;
  align-items: center;
  gap: 20px;
}
.upperList li {
  margin-bottom: 15px;
}
.lowerList li {
  margin-bottom: 15px;
}
.menu .icon {
  width: 18px;
}
